body {
  margin: 0;
  background: #00a5be;
  font-family: system-ui;
}

.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  display: block;
}

.grid {
  display: grid;
  height: 100vh;
  padding: 4em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 312px 100px 1fr 1fr;
  grid-column-gap: 8em;
  grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom learn-more arrow other-line";
}

.asset.top {
  grid-area: asset-top;
  writing-mode: vertical-rl;
  border: 1px solid red;
  display: flex;
  align-items: center;
  /* margin-inline-start: 4em; */
}

.navigation-name {
  grid-area: name;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  border: 1px solid purple;
  justify-content: center;
}

.navigation-name a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
}

.social {
  grid-area: social;
  border: 1px solid red;
}

.character-name-container {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  /* padding-inline-start: 1em; */
}

.navigation {
  /* transform-origin: left bottom; */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  position: absolute;
  left: 2em;
  height: calc(100vh - 8em);
  bottom: 0;
  text-align: center;
  border: 1px solid red;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-inline: 4em;
  display: none;
}

.navigation .text {
  display: inline-flex;
  margin-inline: 35px;
}

.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  display: inline-flex;
  margin-inline: 5px;
}

.links {
}

.line {
  width: 2px;
  height: 150px;
  background: black;
  display: inline-flex;
  margin-inline: 15px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character {
  text-align: center;
}
.character-image {
  width: 100%;
  border-radius: 50%;
}

.character-label {
  background: #685128;
  padding: 1em;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
  /* display: inline-flex; */
}
.character-name {
  font-size: 30px;
}


@media screen and (min-width: 1024px) {
  .character-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name image" "labels image";
  }

  .character-image {
    grid-area: name;
    width: 300px;
    border-radius: 50%;
  }
  .character-name {
    text-align: left;
  }
  .character-name h2 {
    font-size: 50px;
    position: relative;
    display: inline-flex;
  }
  .character-name h2:after {
    content: "";
    width: 87px;
    height: 6px;
    background-color: #F7391C;
    display: inline-flex;
    position: absolute;
    left: calc(100% + 5px);
    top: 50%;
  }
  .character-labels {
    grid-area: labels;
    max-width: 300px;
  }

  .character-image {
    grid-area: image;
  }

}